<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
<div class="col-8 offset-2">
    <br/><br/>
    <h3>create a new listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input type="text" name="listing[title]" placeholder="add a catchy title" class="form-control" required>
            <div class="valid-feedback" >title looks good!</div>
        </div>
     

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback" >please enter a valid description</div>
        </div>



        

        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image link</label>
            <input type="text" name="listing[image]" placeholder="Enter image url/link" class="form-control">
        </div> -->
        <div class="mb-3">
            <label for="image" class="form-label">uplode Listing Image</label>
            <input type="file" name="listing[image]"  class="form-control" required>
            
        </div>






        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input  name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback" >please enter a valid price</div>
        </div>
        

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" placeholder="india" class="form-control" required>
            <div class="invalid-feedback" >please enter a country name</div>
        </div>

        </div>
     

        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="listing[location]" placeholder="jaipur , rajasthan" class="form-control" required>
            <div class="invalid-feedback" >please enter the location</div>
        </div>


   
        <button class="btn btn-dark  add-btn mt-3">Add</button>
         
    </form>
</div>
</div> 

